.fondo{
	background-image: url(../img/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height:950px;

}
.hero{
	float: right;
	margin-right:60px;
}
.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th,
.table-borderless thead tr td,
.table-borderless tfoot tr th,
.table-borderless tfoot tr td {
    border: none;
    color: #DCDADA;
}
h3{
	color: #fff;
	font-family: 'Raleway', sans-serif; 
}
.gris{
	color: #979696;
	margin-top: 30px;
	margin-left: -250px;
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
}
input{
	margin-top: 30px;
}
span{
	border:1px solid #14FA03;
	border-radius: 5px;
	width: 50px;
	height: 50px;
	padding: 10px;
	color: #14FA03;
}
.name{
	display: inline-block;
	color: #DCDADA;
	margin-left: 10px;
}
.yellow{
	background-color: #DFB636;
	width: auto;
	height: 300px;
	margin-top: ;
}
.foto{
	background-image: url(../img/imagen1.jpg);
	background-size: contain;
	width: 150px;
	height: 250px;
	margin-left: 30px;
	top: 25px;
	background-repeat: no-repeat;
}
.foto1{
	background-image: url(../img/imagen2.jpg);
	background-size: contain;
	width: 150px;
	height: 250px;
	top: 25px;
	margin-left: 15px;
	margin-right:10px;
	background-repeat: no-repeat;
}
.foto2{
	background-image: url(../img/imagen3.jpg);
	background-size: contain;
	width: 150px;
	height: 250px;
	top: 25px;
	margin-right:10px;
	margin-left: 15px;	
	background-repeat: no-repeat;
}
.foto3{
	background-image: url(../img/imagen4.jpg);
	background-size: contain;
	width: 150px;
	height: 250px;
	top: 25px;
	margin-right:10px;
	margin-left: 15px;
	background-repeat: no-repeat;
}
.foto4{
	background-image: url(../img/imagen5.jpg);
	background-size: contain;
	width: 150px;
	height: 250px;
	top: 25px;
	margin-left: 15px;
	margin-right:10px;
	background-repeat: no-repeat;
}
.foto5{
	background-image: url(../img/imagen6.jpg);
	background-size: contain;
	width: 150px;
	height: 250px;
	top: 25px;
	margin-right:10px;
	margin-left: 15px;
	background-repeat: no-repeat;

}
.book{
	margin-left: 60px;
}
.news{
	margin-left: -140px;
}
.big{
	width: 220px;
	height: 350px;
	margin-left: 30px;
	margin-top: 20px;
	background-image: url(../img/imagen6.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.holmes{
	width: 220px;
	height: 350px;
	margin-left: 15px;
	margin-top: 20px;
	background-image: url(../img/imagen7.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.deep{
	width: 220px;
	height: 350px;
	margin-left: 15px;
	margin-top: 20px;
	background-image: url(../img/imagen8.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.pi{
	
	width: 220px;
	height: 350px;
	margin-left: 15px;
	margin-top: 20px;
	background-image: url(../img/imagen9.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.pie{
	height: 130px;
	background-color:  #E3DFDF;
	width: 100%;
	margin-top: 200px;
}
.fondo1{
	margin-left: 30px;
	margin-top: 20px;
	font-size: 10px;
	line-height: 1px;
}
